.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .row-1 {
    display: flex;
    
  }
  
  .column-1 {
    display: flex;
    padding: 10px;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  .projects {
    border: 1px solid linear-gradient(to right top, #121112, #302b33, #4e4759, #6a6783, #8389b0, #889fcb, #8ab5e6, #88cdff, #76dbff, #69e8ff, #66f4ff, #73fff6);;
    padding: 1em;
    margin: 1em;
    border-radius: 0.6em;
    flex : 1;
}

body {
  background-image: linear-gradient(to right top, #0c0b0c, #2b242e, #463e52, #5f5a7b, #737aa8, #7590c4, #71a7df, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

button {
    background-color: white;
    border-radius: 0.3em;
    padding: 10px;
}

.color {
  background-image: linear-gradient(to right top, #5f5a7b, #737aa8, #7590c4, #71a7df, #69bff8, #52cffe);
}

@media only screen and (max-width: 60em) { 
  .media {
    flex-direction: column;
  }

  .centerr {
    text-align: center;
  }
  .imagec {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

footer {
  padding: 18px;
  margin: 1em;
  border-radius: 0.3em;
  flex : 1
}

.center {
  text-align: center;
}

.space {
  padding: 10px;
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

.resume-icon {
  font-size: 40px;
  color: white;
}
